@charset "utf-8";
@import url(./normalize.css);
@import url(./fonts.css);
*, *::before, *::after { 
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
}
html{
  font-size: 10px;
}
body{
  font-weight: 300;
  font-size: 1.6rem;
  color: #181818;
  background-color: #fff;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 제목 초기화 */
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: 300;
}
fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
/* 공통 숨김 콘텐츠 */
legend, .a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}